<div class="container flex items-center justify-center min-h-screen">
  <div class="converter-container grid grid-cols-1 md:grid-cols-2">
    <!-- Перший конвертер -->
    <app-currency-converter
      [converterForm]="converterFromForm"
      (formValueChanged)="convert('from')"
      title="Перевезти з:"
    />

    <!-- Другий конвертер -->
    <app-currency-converter
      [converterForm]="converterToForm"
      (formValueChanged)="convert('to')"
      title="Перевезти в:"
    />
  </div>
</div>
